<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	{% load staticfiles %}
	<title>{% block title %} {% endblock %}</title>
	<link rel="stylesheet" type="text/css" href="{% static 'jquery.datetimepicker.css' %}"/>
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}"/>
	<script src="http://vk.com/js/api/openapi.js"; type="text/javascript" charset="windows-1251"></script>
</head>
<body>
	{% if messages %}
	<ul class="messages">
		{% for message in messages %}
		<li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
		{% endfor %}
	</ul>
	{% endif %}

	{% block content %} 
	{% endblock %}

<script src="http://code.jquery.com/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<script type="text/javascript" src="{% static 'jquery.autocomplete.js' %}"></script>
<script src="{% static 'jquery.datetimepicker.js' %}"></script>
{% block script %}
{% endblock %}
</body>

</html>