{% extends 'base.html' %}

{% block title %}Commute together{% endblock %}
{% block content %}
<div class="container">
	<div class="jumbotron">
		<h1>Recent appointment</h1>
	</div>
	<div class="row">
		<div class="col-md-2">
			<a href="/meeting/new/"class="btn btn-default" type="submit">New appointment </a>
		</div>
		<div class="col-md-2">
			<a href="/meeting/schedule/" class="btn btn-default" type="submit">Suburban trains schedule</a>
		</div>
		<div class="col-md-2">
			<a href="http://oauth.vk.com/authorize?client_id={{client_id}}&scope=email,offline&redirect_uri=http://dimawittmann.pythonanywhere.com/meeting/vklogin&response_type=code&v=5.34" class="btn btn-default" class="btn btn-info" title="Зайти через ВКонтакте">Зайти через ВКонтакте</a>
		</div>
	</div>
	</br>

	{% for item in appointments %}
	<div class="row">
		<div class="col-md-offset-1 col-md-5 well">
			<a href="/meeting/{{item.id}}">{{item.name}}</a>
		</div>
		<div class="col-md-offset-1 col-md-2 well">
			{{item.date}}
		</div>
	</div>

	{% endfor %}
</div>
{% endblock %}
