{% extends 'base.html' %}

{% block title %}{{meeting.name}}{% endblock %}
{% block content %}	

<div class="container">
	<div class="jumbotron">
		<h2 class="well">{{meeting.name}}</h2>

		<div class="row">
			<div class="col-sm-1 label label-default">When:</div>
			<div class="col-sm-offset-1 col-sm-4 well">{{meeting.date | date:DATETIME_FORMAT}}</div>
		</div>

		<div class="row">
			<div class="col-sm-1 label label-default">Where:</div>
			<div class="col-sm-offset-1 col-sm-4 well">{{meeting.place}}</div>
		</div>

		<div class="well">{{meeting.desc}}</div>
		<div id="vk_like"></div>
	</div>


	<div class="row">
		<div class="col-sm-2">
			<a href="/meeting/" class="btn btn-default">Back</a>
		</div>
	</div>

	<div id="vk_comments"></div>

</div>
{% endblock %}



{% block script %}
	<script>
		VK.init({
			apiId: {{VK_APP_ID}},
			onlyWidgets: true
		});

		VK.Widgets.Comments('vk_comments');
		VK.Widgets.Like('vk_like', {'type': 'button'});
	</script>

{% endblock %}
