{% extends 'base.html' %}

{% block title %}New meeting{% endblock %}
{% block content %}
	<form action="/meeting/new/" method="POST">
		{% csrf_token %}
		{{ form.as_p }}
		<input type="submit" value="Add appointment">
	</form>

{% endblock %}

{% block script %}
	<script>

		$(document).ready(function() {

			$("#id_place").autocomplete({
				serviceUrl: '/meeting/api/station_name_hints/',
				width: 150,
				onSelect: function(data, value){}

			});

		});

		$(document).ready(function() {
			$('#id_date').datetimepicker({
				format: 'Y-m-d H:i'
			});
			$('#id_date').attr('autocomplete', 'off');
		});

	</script>
{% endblock %}
